body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav.navbar {
  padding: 0 1em;
  height: 10vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: royalblue;
}

nav .navbar-brand {
  font-weight: bold;
}

nav .navbar-menu {
  list-style-type: none;
  width: 50%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav.navbar a {
  text-decoration: none;
  color: white;
}

header.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

  background-color: beige;
}
