body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  padding-bottom: 5em;
}

nav.navbar {
  padding: 0 1em;
  height: 70px;
  width: 100vw;
  background-color: midnightblue;
  text-shadow: 1px 1px 1px black;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  bottom: 0;
}

nav .navbar-brand {
  font-weight: bold;
}

nav .navbar-menu {
  list-style-type: none;
  width: 70%;
  font-size: 0.8em;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav.navbar a {
  text-decoration: none;
  color: white;
}

header.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

header h1 {
  text-shadow: 1px 1px 1px grey;
}

header p {
  text-decoration: underline;
}

main.container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1em;
}

ul.experience-list,
ul.education-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

li.experience-list-item span,
li.education-list-item span,
li.experience-list-item a,
li.education-list-item a {
  font-size: 0.6em;
  font-style: italic;
}

li.projects-list-item,
li.dev-list-item {
  border: 0.5px solid black;
  padding: 1em;
  padding-bottom: 2em;
  margin: 1em 0.5em;
  box-shadow: 3px 3px black;

  display: flex;
  align-items: center;
  gap: 2em;
}

li.projects-list-item img,
li.dev-list-item img {
  width: 40%;
}

li.projects-list-item div,
li.dev-list-item div {
  width: 50%;
  margin-top: -15px;
}

.contact-links {
  display: flex;
  flex-direction: column;
}

.dev-list-item-links a {
  padding: 0.3em;
  margin-right: 1em;
  text-decoration: none;
  border: 1px solid black;

  cursor: pointer;
}
